<h1 class = "edit">Editing Book</h1>

	<h4 class = "edit">title</h4>
	<div class = "edit"><%= f.text_field :title %></div>
	<h4 class = "edit">body</h4>
	<div class = "edit"><%= f.text_area :body %></div>
	<div class = "edit"><%= f.submit 'update' %></div>
<% end %>
<p class = "edit">
<%=link_to "show", book_path(@book.id) %> | 
<%=link_to "back", books_path %>
</p>
